Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [3]:
NAME = "Vasudev Subash Nair"
Registration_Number = "2100869"

---

---
# Welcome to CE880
### This is your week-2 : Problem 2 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

In [4]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Let's create a Toy Data for rest of the 3 questions

In [5]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

---
## Question 4:

Write a Pandas program to display students names, where number of attempts in the examination is greater than 2 and score less than 10.

In [20]:
def filter_1():
    """Write a Pandas program to display students names, where number of attempts 
    in the examination is greater than 2 and score less than 10."""
    
    list1 = df[(df['attempts'] > 2) & (df['score'] < 10)]
    namelist=list1['name']
    namelist=namelist.values.tolist()
    return namelist

    raise NotImplementedError()

In [21]:
filter_1()

['Dima']

In [22]:
assert filter_1() == ['Dima']

---
## Question 5:
A cumulative sum is a sequence of partial sums of a given sequence. For example, the cumulative sums of the sequence `{a,b,c,...}`, are '{a, a+b, a+b+c, ....}'

Write a Pandas program to calculate the CUSUM of the examination attempts by the students and return last value of the sum. `Hint`: You can use tail function to access last element then convert to list and return as a value

In [67]:
def cusum_attempts():
    """Write a Pandas program to calculate the CUSUM of the examination attempts by the students."""
    newlist=df['attempts']
    attempt=[]
    cumsum_list=newlist.cumsum()
    cumsum_list=cumsum_list.values.tolist()
    attempt.append(cumsum_list[-1])
    return attempt
   
   
    raise NotImplementedError()

In [68]:
cusum_attempts()

[19]

In [69]:
"""Check the cusum attempt"""
assert cusum_attempts() == [19]

## Question 6

Write a Pandas program to display the average score. `Hint`: Please replace `NaN` values with `0` before calcualting average.

In [77]:
import itertools
import numpy as np
def score():
    """Write a Python program to calculate average score"""
    df[np.isnan(df['score'])]=0
    scorelist=df['score']
    scorelist=scorelist.values.tolist()
    asum=sum(scorelist[0:])
    asum=asum/len(scorelist)
    return asum
    raise NotImplementedError()

In [78]:
score()

10.85

In [79]:
assert score() == 10.85