Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Vasudev Subash Nair"
Registration Number = "2100869"

---

---
# Welcome to CE880
### This is your week-3 : Problem 2 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

In [1]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Requirement already satisfied: pandas in c:\users\snair\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\snair\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\snair\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\snair\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\snair\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

#### Let's load iris dataset

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('iris.csv') # Please adjust the path is needed if you are loading the datafile from local computer
df # display the DataFrame

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

---
## Question 4:

Write a program to find the mean of the `petal.length` variable in the iris data

In [8]:
def iris_mean():
    """write a function to find the mean of the `petal.length`."""
    
    return df['petal.length'].mean()
    raise NotImplementedError()

In [9]:
assert np.isclose(iris_mean(), 3.75, atol= 0.1)

---
## Question 5:
Write a program to count the number of rows in the iris data, where `variety = Setosa`

In [19]:
def iris_count():
    """Write a function to count the number of rows, where variety is Setosa"""
    return len(df[df.variety=='Setosa'])
    raise NotImplementedError()

In [20]:
"""Check the your answer"""
assert iris_count() == 50

## Question 6

Write a Pandas program to calculate the correlation between `sepal.length` and `sepal.width`.

In [24]:
import itertools
def iris_correlation():
    """calculate the correlation"""
    return df['sepal.length'].corr(df['sepal.width'])
    raise NotImplementedError()

In [25]:
iris_correlation()

-0.11756978413300202

In [26]:
assert np.isclose(iris_correlation(), -0.11, atol= 0.05)